[submodule "src/submodules/payments"]
	path = src/submodules/payments
	url = git@github.com:GGurbanov/ms-fe-payments.git
[submodule "src/submodules/salary"]
	path = src/submodules/salary
	url = git@github.com:GGurbanov/ms-fe-salary.git
[submodule "src/submodules/mainPage"]
	path = src/submodules/mainPage
	url = git@github.com:GGurbanov/ms-fe-main-page.git
